.ai-image-generator {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 20px; /* Adjusted gap for better spacing */
}

.header {
    font-size: 70px;
    font-weight: 500;
}

.header span {
    color: #DE1B89;
    font-weight: 600;
}

.img-loading {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center image horizontally */
}

.img-loading img {
    width: 400px;
}

.search-box {
    display: flex;
    width: 600px; /* Match input width */
    height: 55px;
    justify-content: space-between; /* Adjusted for spacing */
    align-items: center;
    border-radius: 50px;
    background: #1f3540;
}

.search-input {
    width: 100%; /* Take available space */
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: white;
    margin-right: 20px; /* Adjusted margin */
    text-align: center; /* Center text horizontally */
    padding: 0 10px; /* Optional: Adjust padding if needed */
}

.search-input::placeholder {
    color: #999;
}

.generate-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px; /* Adjusted width */
    height: 52px;
    font-size: 20px;
    border-radius: 50px;
    background: #DE1B89;
    cursor: pointer;
}
